@import "@xyflow/react/dist/style.css";
@import "tailwindcss";

:root {
  --background: #171717;
  --foreground: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
}

.react-flow__attribution {
  border-top-left-radius: 4px;
  padding-right: 0.75rem;
}

@layer utilities {
  .glass {
    @apply bg-black/50 bg-gradient-to-b from-white/8 to-transparent 
        to-[8rem] backdrop-blur-md;

    /* Override tw gradient with custom angle */
    --tw-gradient-position: 170deg in oklab;

    /* Set background position such that borders draw OVER the gradient */
    background-position: -1px -1px;
    background-size: calc(100% + 2px) calc(100% + 2px);
  }

  .glass-border {
    @apply border border-white/15;
  }

  .bg-border {
    /* Set background position such that borders draw OVER the gradient */
    background-position: -1px -1px;
    background-size: calc(100% + 2px) calc(100% + 2px);
  }

  .bg-pattern-squares {
    background-size: 1rem 1rem;
    background-image: repeating-conic-gradient(
      currentcolor 0% 25%,
      transparent 0% 50%
    );
  }

  @keyframes accordionSlideDown {
    from {
      height: 0;
    }
    to {
      height: var(--radix-accordion-content-height);
    }
  }
  @keyframes accordionSlideUp {
    from {
      height: var(--radix-accordion-content-height);
    }
    to {
      height: 0;
    }
  }

  @property --overlay-blur {
    syntax: "<length>";
    inherits: false;
    initial-value: 0px;
  }

  @keyframes dialogOverlay {
    from {
      --overlay-blur: 0px;
      backdrop-filter: blur(var(--overlay-blur)) saturate(1);
    }
    to {
      --overlay-blur: 2px;
      backdrop-filter: blur(var(--overlay-blur)) saturate(0.3);
    }
  }

  @keyframes tooltipSlideDown {
    from {
      opacity: 0;
      transform: translateY(-2px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes tooltipSlideLeft {
    from {
      opacity: 0;
      transform: translateX(2px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @keyframes tooltipSlideUp {
    from {
      opacity: 0;
      transform: translateY(2px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes tooltipSlideRight {
    from {
      opacity: 0;
      transform: translateX(-2px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
}
